<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>SessionFIlter</filter-name>
        <filter-class>Filter.SessionFIlter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFIlter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>Controller.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControl</servlet-name>
        <servlet-class>Controller.ProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileControl</servlet-name>
        <servlet-class>Controller.EditProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductControl</servlet-name>
        <servlet-class>Controller.EditProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemListControl</servlet-name>
        <servlet-class>Controller.ItemListControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Controller.Add</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Controller.SignUpControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/SignUpControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controller.LoginControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/LogOutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/ProfileControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControl</servlet-name>
        <url-pattern>/ProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileControl</servlet-name>
        <url-pattern>/EditProfileControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductControl</servlet-name>
        <url-pattern>/EditProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemListControl</servlet-name>
        <url-pattern>/ItemListControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
</web-app>
